:root {
    --primary: black;
    --secondary: white;
    --primary_accent: lime;
    --secondary_accent: #EDEDED;
    --large: 50px;
    --medium: 30px;
    --small: 20px;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Mono', monospace;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;

    display: inline-block;
    /* change the default display type to inline-block */
    overflow: visible;
    /* hide the overflow */
}

h1 {
    color: var(--secondary);
    font-size: var(--large);
    margin: 0;
}

h2 {
    border-top: 10px solid var(--primary_accent);
    width: 180px;
}

.navbar {
    position: sticky;
    top: 0;
    height: auto;
    background-color: var(--primary);
    padding: 3px;
    z-index: 999;
}

.navbar-link-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-list {
    list-style: none;
}

.navbar-link {
    color: var(--primary_accent);
    text-decoration: none;
    padding: var(--medium);
    font-size: var(--medium);
}

.title-container {
    justify-content: center;
    display: flex;

    animation-name: title-container;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes title-container {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 5px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.contact-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.download-link {
    margin: 0;
    font-size: var(--small);
    justify-self: auto;
    padding: 10px;
    color: var(--primary_accent);
}

.img-link {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.source-code-link {
    margin: 0;
    font-size: var(--small);
    justify-self: center;
    padding: 10px;
    color: var(--primary_accent);
    font-size: 14px;
}

.sections {
    margin: 0;

    font-size: var(--small);
}

.section-1 {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 60px 30px 20px 30px;
}

.section-2 {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 60px 30px 20px 30px;
}


.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-left {
    flex: 3;
    padding: var(--small);
}

.about-right {
    flex: 1;
    padding: var(--small);
    text-align: center;
}

.profile-photo {
    max-height: 300px;
    max-width: 300px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--secondary_accent);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-left {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

    /* Place the container to the left */
    left: -80px;
}

.timeline-left::before {
    /* Add arrows to the left container (pointing right) */
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--secondary);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--secondary_accent);
}

.timeline-left::after {
    /* The circles on the timeline */
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--primary);
    border: 4px solid var(--primary_accent);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-right {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

    /* Place the container to the right */
    left: 50%;
}

.timeline-right::before {
    /* Add arrows to the right container (pointing left) */
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--secondary);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--secondary_accent) transparent transparent;
}

.timeline-right::after {
    /* The circles on the timeline */
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--primary);
    border: 4px solid var(--primary_accent);
    top: 15px;
    border-radius: 50%;
    z-index: 1;

    /* Fix the circle for containers on the right side */
    left: -16px;
}

/* The actual content */
.timeline-content {
    color: var(--primary);

    padding: 20px 30px;
    background-color: var(--secondary_accent);
    position: relative;
    border-radius: 6px;
}

.timeline-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 100%; */
    max-height: 200px;

    margin-bottom: 5px;
}

.timeline-header-left {
    flex: 1;
    padding: 10px;
}

.timeline-header-right {
    flex: 1;
    padding: 10px;
}

.projects-container {
    width: auto;
}

.projects-row {
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.projects-left {
    flex: 1;
    margin-left: 20px;
    margin-right: 10px;
    border: 2px solid var(--primary_accent);
    border-radius: 10px;
    background-color: var(--secondary_accent);
    justify-content: center;

    position: relative;
    padding: 0px 10px 70px 10px;
}

.projects-right {
    flex: 1;
    margin-left: 10px;
    margin-right: 20px;
    border: 2px solid var(--primary_accent);
    border-radius: 10px;
    background-color: var(--secondary_accent);

    position: relative;
    padding: 0px 10px 70px 10px;
}

.projects-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    text-align: center;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.projects-links-left {
    flex: 1;
    background-color: var(--primary);
    color: var(--primary_accent);
    margin: 5px;

    border-radius: 20px;
}

.projects-links-right {
    flex: 1;
    background-color: var(--primary);
    color: var(--primary_accent);
    margin: 5px;

    border-radius: 20px;
}

/* Container for skill bars */
.skill-bar {
    width: 100%;
    /* Full width */
    background-color: #D3D3D3;
    /* Grey background */

    display: flex;
    margin: 5px;
}

.proficient-text {
    padding: 10px 30px 10px 20px;
    width: 100px;
    text-align: left;

    background-color: #05DC8D;
}

.proficient-bar {
    text-align: right;
    /* Right-align text */
    padding: 10px 10px 10px 0;
    color: var(--secondary);
    /* White text color */

    width: 80%;
    background-color: #04AA6D;
}

.intermediate-text {
    padding: 10px 30px 10px 20px;
    width: 100px;
    text-align: left;

    background-color: #2196F3;
}


.intermediate-bar {
    text-align: right;
    /* Right-align text */
    padding: 10px 10px 10px 0;
    color: var(--secondary);
    /* White text color */

    width: 50%;
    background-color: #0C7CD5;
}

.basic-text {
    padding: 10px 30px 10px 20px;
    width: 100px;
    text-align: left;

    background-color: #f44336;
}


.basic-bar {
    text-align: right;
    /* Right-align text */
    padding: 10px 10px 10px 0;
    color: var(--secondary);
    /* White text color */

    width: 30%;
    background-color: #EA1C0D;
}

.contact-container {
    text-align: center;
    justify-content: center;
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 0.5s ease-in;
}

.active.fade-left {
    animation: fade-left 0.5s ease-in;
}

.active.fade-right {
    animation: fade-right 0.5s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}